html {
  background: url('../img/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

button, html, select, input {
  font: 12px 'Roboto Slab', tahoma;
  font-weight: 300;
  outline: none;
}

button:focus,
html:focus,
select:focus,
input:focus {
  border-color: #008EFF;
}


select, input {
  background: none;
  border: none;
  border-bottom: 1px solid gray;
}

h1 {
  font-size: 24px;
  display: block;
}

.header {
  font-size: 40px;
  
  height: 50px;
  border-bottom: 1px solid #abdc28;
  color: #A0DB00;
  text-shadow:  0 2px 1px black,
                0 4px 1px #707070;

  display: block;
  width: 1005px;

  z-index: 5;

  text-align: left;

  position: fixed;
  top: 15px;
  margin-left: -20px;

  padding-left: 35px;
  padding-bottom: 10px;

  background-color: white;
}

.header > div {
  font-family: 'Comfortaa', 'Arial Narrow';
  font-weight: 700;
}
.header span {
  display: block;
  width: 150px;
  text-align: right;
  font-size: 14px;
  text-shadow: none;
  font-weight: 400;
}

.header a {
  display: block;
  position: absolute;

  top: 0px;
  left: 190px;
}

.header .a1 {
  font-size: 16px;
  margin-top: 15px;
}

.header .a2 {
  font-size: 25px;
  margin-top: 10px;

  margin-left: 5px;
}

.header .a3 {
  margin-left: 10px;
}



.header section {
  display: block;
  position: absolute;

  top: 10px;
  left: 0px;
  width: 100%;
  height: 40px;

  text-align: right;
}

.header section div {
  display: inline-block;
  margin-left: 5px;
  
  padding: 10px 15px;

  font-size: 12px;

  color: rgba(255,255,255,0.4);


  text-shadow:  0px 1px 0px black;

}



.header section div:hover {
  border-bottom: 3px solid #A0DB00;
  cursor: pointer;
}
.header section div:active {
  padding: 12px 15px 8px 15px;
}

.header section div.selected {
  border-bottom: 3px solid #A0DB00;
  color: #A0DB00;
}


#content {
  width: 1000px;
  background-color: rgba(255,255,255,0.6);
  
  display: block;
  position: relative;

  padding: 20px;
  padding-top: 110px;

  box-shadow: 0 3px 5px black;
}


table#tableFinally {
    background-color: rgba(255,255,255,0.4);
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
   }
table#tableFinally td, table#tableFinally th {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid black; /* Параметры рамки */
   }
table#tableFinally th {
    background: gray; /* Цвет фона */
    color: white;
   }


  #time_left, #time_right {
  	width: 50px;
  }

#work_add,
#work_clear {
    width: 960px;
}

.cell1 {
  width: 10px;
}
.cell2 {
  width: 130px;
}
.cell3 {
  width: 150px;
}
.cell4 {
  width: 150px;
}
.cell5 {
  width: 330px;
}
.cell6 {
  width: 120px;
}












.menu_bottom {
  padding: 20px;

  z-index: 51;

  position: absolute;
  width: 92%;
}


.menu_works {
  padding: 20px;
  width: 87.5%;

  text-align: right;
}

button {
  font-weight: 400;
  text-decoration: none;
  color: #008EFF;
  border: 1px solid #008EFF;
  padding: 5px;

  border-radius: 2px;
  cursor: pointer;
}
button:hover {
  font-weight: 400;
  color: #28C8FF;
  border: 1px solid #28C8FF;
  padding: 5px;

  border-radius: 2px;
}
button:active {
  padding-top: 4px;
  padding-bottom: 6px;
}



b {
  font-weight: 600;
}


table#tableChanged select,
table#tableChanged input {
  width: 250px;
}

#subpanel {
  position: fixed;
  top: 75px;
  width: 1020px;
  height: 30px;
  background-color: rgba(255,255,255,0.5);

  margin-left: -20px;

  text-align: left;
  padding: 10px;


}
#subpanel #subpanel_menu {
  float: right;
  margin-top: -35px; 
}